setuptools
anyio
appnope
argon2-cffi-bindings
argon2-cffi
atomicwrites
attrs
babel
backcall
bleach
certifi
cffi
charset-normalizer
cloudpickle
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
fonttools
gymnasium
idna
importlib-metadata
importlib-resources
ipykernel
ipython-genutils
ipython
ipywidgets
jedi
jinja2
json5
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyter-server
jupyter
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
jupyterlab
kiwisolver
markupsafe
matplotlib-inline
matplotlib
mistune
more-itertools
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook-shim
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pluggy
prometheus-client
prompt-toolkit
ptyprocess
py
pycparser
pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
# pywin32
# pywinpty
pyzmq
qtconsole
qtpy
requests
scipy
seaborn
send2trash
setuptools-scm
six
sniffio
terminado
testpath
tomli
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
widgetsnbextension
zipp
