absl-py
appnope
argon2-cffi-bindings
argon2-cffi
asttokens
atomicwrites
attrs
backcall
beautifulsoup4
bleach
box2d-py
box2d
cachetools
certifi
cffi # pypy
charset-normalizer
cloudpickle
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
future
google-auth-oauthlib
google-auth
grpcio
gymnasium
idna
importlib-metadata
importlib-resources
ipykernel
ipython-genutils
ipython
ipywidgets
jedi
jinja2
jsonschema
jupyter-client
jupyter-console
jupyter-core
jupyter
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
markdown
markupsafe
matplotlib-inline
matplotlib
mistune
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pluggy
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
py
pyasn1-modules
pyasn1
pycparser
pyglet
pygments
pyparsing
pyrsistent
pytest
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
qtpy
requests-oauthlib
requests
rsa
scipy
send2trash
setuptools-scm
six
soupsieve
stack-data
tensorboard-data-server
tensorboard-plugin-wit
tensorboard
terminado
tinycss2
tomli
torch
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
werkzeug
widgetsnbextension
zipp
